@model IEnumerable<EcommProject.Models.OrderHeader>
<partial name="_OrdersByStatus" />
<div class="container rounded border m-2 p-2">
    <table id="refundedOrders" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>User Name</th>
                <th>Total Price</th>
                <th>Order Status</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts
    {
    <script src="~/js/orderManagement.js"></script>
}