@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">
            0rder Submitted Successfully
        </h1><br />
        <img src="https://t3.ftcdn.net/jpg/05/17/13/48/360_F_517134833_HJ0MoCF0fOo13Xu4OPCObgi9BLCWKiaa.jpg" />
    </div>
    <div class="col-12 text-center" style="color:green">
        <br />
        Thank you for your order! <br />
        We have received your order and we will send a follow up email shortly!
        <br />
        Your Order Number is :@Model
    </div>
</div>